<div class='log-background clearfix'>
  <div class='log-form'>
    <h1>Log In</h1>

    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label>Username</label><br>
      <input type="text"
             class="form-control"
             name="user[username]"><br>

      <label>Password</label><br>
      <input type="password"
             class="form-control"
             name="user[password]"><br>

      <button type="submit" class="btn btn-success pull-left" id="enter">Submit <span class="glyphicon glyphicon-log-in pull-right" aria-hidden="true"></span></button>
    </form>
    <button class="btn btn-success" id="guest-login">Guest Login</button>
  </div>
</div>

<script>
  $('button#guest-login').click(function(){
    $("input[name='user[username]']").val("");
    $("input[name='user[password]']").val("");
      autoTyper('Archer', $("input[name='user[username]']"), function(){
        autoTyper('password', $("input[name='user[password]']"), function(){
          $('#enter').click();
        });
      });
    });
    var autoTyper = function(word, $el, callback){
      var typer = setInterval(function(){
        $el.val($el.val() + word.slice(0,1));
        word = word.substr(1);
        if(word.length === 0){
          clearInterval(typer);
          callback();
        }
      }, 100);
    }
</script>
