<div class='.row'>
  <div class='col-md-12' id="users-container">
    <h3 id="users-title">Users</h3>
    <hr id="users-title-bar">
    <div class='users-index'></div>
  </div>
</div>

<!-- <div class='users-filler col-md-6'>
  <h3 id='top-title'>Top Reviewers</h3>
  <hr id='top-title-bar'>
  <div class="top-users-list"></div>
</div> -->
