<div class='.row'>
  <div class='col-md-12' id="users-container">
    <div class="index-top">
      <h1 id="users-title">Users</h1>
      <hr id="users-title-bar">

      <div class="filter-users btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a id = "select-sort-users-reviews" href="#">Most Reviewed</a></li>
          <li><a id = "select-sort-users-wants" href="#">Most Wanted</a></li>
          <li><a id = "select-sort-users-joined" href="#">Most Recently Joined</a></li>
          <li><a id = "select-sort-users-all" href="#">All</a></li>
        </ul>
      </div>
    </div>

    <div class='users-index'></div>
  </div>
</div>
