<div class='user-details col-md-10 col-md-offset-1'>
  <img class="avatar" src="<%= user.get('image_url') %>"</img>
  <p class='username'><%= user.get('username') %></p>
  <p>Member since <%= user.get('created_at') %></p>
  <% if (user.get('current_user')) { %>
    <button type='button' class='btn btn-primary'>Upload Avatar</button>
  <% } %>
</div>

<div class="user-reviews col-md-10 col-md-offset-1">
  <h4>Reviews</h4>
</div>
