<div class="m-backdrop"></div>
<div class="m-content">
  <button class="close">&times;</button>
    <h3><%= review.isNew() ? "New Review" : "Edit Review" %></h3>
  <form class="new-review">
    Description:<br>
    <textarea class="form-control" rows="4" name="review[body]"><%= review.escape('body') %></textarea>
    <br>

    Rating:<br>
    <div class='new-review-stars'></div>
    <input type="hidden" id="rating-value" name="review[rating]" value="0">

    <input type='submit' class='new-review btn btn-success' value='submit'>
  </form>
</div>
