<form class="new-review">
  Description:<br>
  <textarea class="form-control" rows="4" name="review[body]"></textarea>
  <br>

  Rating:<br>
  <div class='new-review-stars'></div>
  <input type="hidden" id="rating-value" name="review[rating]" value="0">

  <input type='submit' class='btn btn-primary' value='submit'>
</form>
