<div class='log-background'>
  <div class='log-form'>
    <h1>Sign Up</h1>

    <form action="<%= users_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label>Username</label><br>
      <input type="text"
             class="form-control"
             name="user[username]"><br>

      <label>Password</label><br>
      <input type="password"
             class="form-control"
             name="user[password]"><br>

      <button type="submit" class="btn btn-success pull-left">Submit</button>
    </form>
  </div>
</div>

<!-- create page with scroll -->
