<div class='index-top'>
  <h1 class='text-center' id='activity-title'>Activities</h1>
  <hr>

  <div class="filter-activities btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Most Reviewed</a></li>
      <li><a href="#">Highest Rated</a></li>
      <li><a href="#">Most Wanted</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </div>


<div class="activities col-md-12"></div>
