<h1 class='text-center' id='activity-title'>Activities</h1>

<div id="filter-pop-up">
  <button type="button" class="btn btn-default">Filters <span class="caret"></span>
  </button>
</div>
<hr>

<div class="activities col-md-12"></div>
