<div class='vertically-center'>
  <h4 class='index-item'><%= activity.escape('title') %></h5>
</div>
<!-- <h5 class='index-item'><%= activity.escape('location') %></h5> -->
<!-- <p class='index-item-description'><%= shorten(activity.escape('description'), 97) %></p> -->
