<div class= 'activities-index-pictures' style=
  '<%= 'background-image: url(' + this.model.escape('image_url') + ');' %>'>
</div>

<p class='activities-titles'><%= activity.escape('title') %></p>
<div class="index-item-stars"></div>
<p class="review-count"><%= activity.get('review_count') %>
  <%= activity.get('review_count') === 1 ? 'review' : 'reviews' %></p>
