<form class="navbar-form navbar-right search-form" role="search">
  <div class="input-group">
    <div class="input-group-addon">Find</div>
    <input type="text" class="form-control" placeholder="exploratorium" name="query">
  </div>
  <button type='submit' class='btn btn-primary search-button' value='search' aria-label="Left Align">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>
</form>
