<div class='activity-details col-md-10 col-md-offset-1'></div>

<div class='additional-activity-info col-md-10 col-md-offset-1'>
  <div class="activity-filler col-md-3"></div>
  <div class="activity-reviews col-md-6"></div>
</div>
