<h4 class='activitity-detail-name'><%= activity.escape('title') %></h4>
<img src="<%= activity.escape('image_url') %>">
<br>
<h5><%= activity.escape('location') %></h5>
<p><%= activity.escape('description') %></p>
