<div id='activity' class='col-md-10 col-md-offset-1'>
  <div class='activity-details row'></div>
  <div class='additional-activity-info row'>
    <div class='row'>

    <div class="col-md-7">
      <h3 class='reviews-title'>Reviews</h3>
      <hr id="reviews-title-bar">
      <div class="activity-reviews"></div>
    </div>

    <div class='col-md-5'>
      <div class="activity-map"></div>
    </div>

    </div>
  </div>
</div>
