<div id='activity' class='col-md-10 col-md-offset-1'>
  <div class='activity-details col-md-12'></div>
  <div class='additional-activity-info col-md-12'>
    <div class="col-md-7" id="reviews-container">
      <h3 class='reviews-title'>Reviews</h3>
      <hr id="reviews-title-bar">
      <div class="activity-reviews"></div>
    </div>

    <div class="activity-map col-md-3"></div>
  </div>
</div>
