h4.index-item {
  margin-top: 10px;
}

#activity-title {
  align: center;
}

.activities {
  padding-left: 25px;
  padding-right: 0px;
}

.acitivties-index-pictures {
  padding: 0px 0px;
  width: 350px;
  height: 250px;
  box-shadow: 0 1px 3px #626262;
}

.activities-index-item {
  // border: black 1px solid;
  width: 350px;
  float:left;
  margin: 0px 10px 20px 10px;
  padding: 0px;
  font-size: 12px;
}

.activities-index-item:hover {
  opacity: 0.6;
  cursor: pointer;
  cursor: hand;
}

.vertically-center {
  height: 200px;
  line-height: 200px;
  vertical-align: bottom;
}

.index-item-stars {
  right: 30px;
  bottom: 10px;
}

.review-count {
  font-size: 18px;
  position: absolute;
  left: 120px;
  bottom: -1px;
}
