.activity-picture-container {
  height: 300px;
  float: left;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  box-shadow-bottom: 0 1px 2px #626262;
}

.activitity-detail-name {
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0px 0px 0px 0px;;
  padding: 10px 15px;
  height: 40px;
}

.activity-details {
  padding: 0px 0px;
  background-color: #fff;
  box-shadow: 0 1px 3px #626262;
  margin-bottom: 10px
}

.activity-picture-container {
  float: left;
  width: 490px;
  height: 325px;
  position: relative;
}

.activity-information {
  display: inline;
  position: relative;
}

.activity-reviews {
  padding: 0px 0px;
}

.activity-review-item {
  padding: 10px 10px;
  float: left;
  margin: 0px 0px;
  background-color: #fff;
  box-shadow: 0 1px 1px #626262;
  width: 100%;
  margin-bottom: 10px;
}

.activity-new-review {
  padding: 10px 10px;
  float: left;
  background-color: #fff;
  box-shadow: 0 1px 1px #626262;
}

.activity-detail-stars {
  z-index: 100;
}

.activity-detail-reviews {
  width: 100px;
  position: absolute;
  left: 125px;
  top: 2px;
}

.activity-wanted {
  background-color: #f2f2f2;
  color: #181818;
  border-color: #dddddd;
}

.activity-wanted:hover {
  background-color: #ebebeb;
  color: #181818;
  border-color: #dddddd;
}

#glyphicon-check {
  color: #5cb85c;
}
.activity-reviewed > #glyphicon-check {
  margin-right: 3px;
}
.activity-reviewed.disabled {
  background-color: #f2f2f2;
  color: #181818;
  border-color: #dddddd;
  opacity: 1;
}
