h4.index-item {
  margin-top: 0px;
  padding: 15px 15px;
  background: rgba(0, 0, 0, .3s);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#activity-title {
  align: center;
}

.activities {
  padding-left: 25px;
  padding-right: 0px;
}

div.activities-index-item {
  padding: 0px 0px;
  float: left;
  width: 315px;
  height: 250px;
  // top right bottom left
  margin: 0px 10px 20px 10px;
  border-radius: 10px;
  background-color: #fff;
  color: white;
  font-size: 12px;
  box-shadow: 0 1px 2px #626262;
}

.activities-index-item:hover {
  opacity: 0.5;
  cursor: pointer;
  cursor: hand;
}

.vertically-center {
  height: 200px;
  line-height: 200px;
  vertical-align: bottom;
}

.index-item-stars {
  position: absolute;
  top: 15px;
  right: 15px;
}
