.show-activity.row {
  width: 100%;
  margin: 0px 0px 0px 0px;
}

//activity details information

.activity-picture-container {
  height: 300px;
  float: left;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  box-shadow-bottom: 0 1px 2px #626262;
}

.activitity-detail-name {
  color: #3b65a7;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0px 0px 0px 0px;;
  padding: 10px 15px;
  height: 40px;
}

.activity-details {
  padding: 0px 0px;
  margin-bottom: 20px
}

.activity-picture-container {
  float: left;
  width: 490px;
  height: 300px;
  position: relative;
  box-shadow: 0 1px 3px #626262;
}

.activity-information {
  width: 519px;
  height: 300px;
  margin-left: 10px;
  padding: 10px;
  padding-left: 20px;
  float: left;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 3px #626262;
}

.activity-information > hr{
  margin: 10px 0px 10px 0px;
  border-width: 1.5px;
  border-color: #eee;
}

.activity-reviews {
  padding: 0px 0px;
}

.activity-review-item {
  overflow: hidden;
  position: relative;
  padding: 5px 5px;
  float: left;
  margin: 0px 0px 20px 0px;
  background-color: #fff;
  box-shadow: 0 2px 2px #626262;
  width: 100%;
  border: 1px solid #e8ebe9;
}

.activity-review-item p {
  margin-bottom: 0px;
}

// new review
.activity-new-review {
  padding: 10px 10px;
  float: left;
  background-color: #fff;
  box-shadow: 0 1px 1px #626262;
}

.activity-detail-stars {
  z-index: 100;
  position: absolute;
  top: 70px;
  right: 25px;
}

.activity-detail-reviews {
  width: 65px;
  position: absolute;
  right: 18px;
  top: 91px;
}

.want-button {
  margin-right: 5px;
}

.activity-wanted {
  background-color: #f2f2f2;
  color: #181818;
  border-color: #dddddd;
}

.activity-wanted:hover {
  background-color: #ebebeb;
  color: #181818;
  border-color: #dddddd;
}

#glyphicon-check {
  color: #5cb85c;
}
.activity-reviewed > #glyphicon-check {
  margin-right: 3px;
}
.activity-reviewed.disabled {
  background-color: #f2f2f2;
  color: #181818;
  border-color: #dddddd;
  opacity: 1;
}

//everything else
.additional-activity-info {
  padding: 0px 0px 0px 0px;
}

// reviews items

.avatar-thumb {
  height: 120px;
  width: 120px;
  float: left;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.avatar-thumb:hover {
  cursor: pointer;
  cursor: hand;
  opacity: .7;
}

.review-star-rating {
  margin-bottom: 3px;
}

.review-date {
  position: absolute;
  right: 10px;
  top: 10px;
}

// div placeholder
.activity-filler {
  float: right;
  border: black 1px solid;
  height: 405px;
  width: 496px;
}

.review-username {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.review-username a {
  color: #3b65a7;
  text-decoration: none;
}

.review-body {
  padding-right: 3px;
}
