.search-button {
  background-color: #EEE;
  color: black;
  border-color: #ccc;
}

.search-button:hover {
  background-color: #555;
  color: white;
  border-color: #555;
}

.input-group-addon {
  color: black;
}

.input-group {
  width: 275px;
}

.search-form {
  margin-right: 50px;
}
