.search-button {
  background-color: #EEE;
  color: black;
  border-color: #ccc;
}

.search-button:hover {
  background-color: #555;
  color: white;
  border-color: #555;
}

.input-group-addon {
  color: black;
}
