.avatar {
  width: auto;
  float: left;
  width: 200px;
}

.user-details {
  padding: 0px 0px;
  background-color: #fff;
  box-shadow: 0 1px 3px #626262;
  margin-bottom: 10px
}

.username {
  font-size: 18px;
  text-align: center;
}

.user-review-item {
  padding: 10px 10px;
  float: left;
  margin: 0px 0px;
  background-color: #fff;
  box-shadow: 0 1px 1px #626262;
  width: 100%;
  margin-bottom: 10px;
}

.user-reviews {
  padding: 0px 0px;
}
