#user-show-page {
  padding: 0px 0px 0px 0px;
}

//user details
.avatar {
  float: left;
  width: 208px;
  margin: 5px 20px 5px 5px;
}

.user-details {
  padding: 0px 0px;
  background-color: #fff;
  box-shadow: 0 1px 3px #626262;
  margin-bottom: 10px
}

.username {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 3px;
  color: #3b65a7;
}

//bottom div
.user-bottom-div {
  padding: 0px 0px 0px 0px;
}

//user reviews

.activity-reviews {
  padding: 0px 0px;
}

.user-review-item {
  overflow: hidden;
  position: relative;
  padding: 5px 5px;
  float: left;
  margin: 0px 0px 20px 0px;
  background-color: #fff;
  box-shadow: 0 2px 2px #626262;
  width: 100%;
  border: 1px solid #e8ebe9;
}

.user-review-item p {
  margin-bottom: 0px;
}

.user-reviews {
  padding: 0px 0px;
}

.activity-thumb {
  height: 140px;
  width: 208px;
  float: left;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.activity-thumb:hover {
  cursor: pointer;
  cursor: hand;
  opacity: .7;
}

.profile-review-date {
  position: absolute;
  right: 10px;
  top: 10px;
}

.activity-name {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.activity-name a {
  color: #3b65a7;
  text-decoration: none;
}

.profile-review-body {
  padding-right: 3px;
}

.profile-review-star-rating {
  margin-bottom: 3px;
}

.user-want-list {
  float: right;
  border: solid black 1px;
  height: 500px;
}
