#user-show-page {
  padding: 0px 0px 0px 0px;
}

//user details
.avatar {
  float: left;
  width: 208px;
  margin: 5px 20px 5px 5px;
}

.user-details {
  padding: 0px 0px;
  background-color: #fff;
  box-shadow: 0 1px 3px #626262;
  margin-bottom: 10px
}

.username {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 3px;
  color: #3b65a7;
}

.badges > .badge {
  background-color: rgb(59, 101, 167);
}

//bottom div
.user-bottom-div {
  padding: 0px 0px 0px 0px;
}

//user reviews

#user-review-title {
  float:left;
  padding: 0px 0px;
  margin: 0px 0px 5px 15px;
}

.activity-reviews {
  padding: 0px 0px;
}

.user-review-item {
  overflow: hidden;
  position: relative;
  padding: 5px 5px;
  float: left;
  margin: 0px 0px 10px 0px;
  background-color: #fff;
  box-shadow: 0 2px 2px #626262;
  width: 100%;
  border: 1px solid #e8ebe9;
}

.user-review-item p {
  margin-bottom: 0px;
}

.user-reviews {
  padding: 0px 0px;
}

.activity-thumb {
  height: 140px;
  width: 208px;
  float: left;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.user-review-item:hover {
  cursor: pointer;
  cursor: hand;
  opacity: .7;
}

.profile-review-date {
  position: absolute;
  right: 10px;
  top: 10px;
}

.activity-name {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
  color: #3b65a7;
}

.profile-review-body {
  padding-right: 3px;
}

.profile-review-star-rating {
  margin-bottom: 3px;
}

.user-want-list-background {
  background-color: white;
  float: right;
  width: 329px;
  box-shadow: 0 1px 3px #626262;
  margin-bottom: 50px
}

#todo-list-title {
  text-align: center;
  color: #3b65a7;
  margin: 15px 0px 15px 0px;
}
.user-want-list-background {
  // padding: 0px 0px 0px 0px;
}

.user-want-list {
  padding-left: 10px;
  padding-right: 10px;
}

.user-want-list > .activities-index-item > .activities-index-pictures {
  height: 185px;
  width: 279px;
}

.user-want-list > .activities-index-item {
  margin: 0px 0px 15px 0px;
}
