.want-list {
  padding: 0px 0px;
}

.wants-title {
  margin-bottom: 0px;
  margin-left: 30px;
}

#wants-container {
  padding: 0px 0px 0px 0px;
}

#wants-container > hr {
  margin-top: 5px;
  margin-bottom: 20px;
}
