<form class="navbar-form navbar-right search-form" role="search">
  <div class="input-group">
    <div class="input-group-addon" id="search-symbol">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find
    </div>

    <div id="multiple-datasets">
      <input class="typeahead" type="text" placeholder="Activities and Users">
    </div>

  </div>
</form>
